{{ .date }} по адресу: {{ .address }} в нарушение ПДД, по тротуару передвигался и припарковался автомобиль: {{ .carmodel }} с регистрационным знаком: {{ .regplate }}.
Фото в подтверждение данных правонарушений прилагаю.
Прошу привлечь виновных в данном правонарушении к ответственности
